@model IEnumerable<MeusLivrosMVCWebApp.Models.Genero>

@{
    ViewData["Title"] = "Gêneros Principal";
}

<h1>Gêneros</h1>

<p>
   <input type="button" value="Adicionar" class="btn btn-danger"  onclick="location.href='@Url.Action("Adiciona", "Genero")'" />
</p>
<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estilo_Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estilo_Genero)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                  <a asp-action="Deletar" asp-route-id="@item.Id">Apagar</a> 
            </td>
        </tr>
}
    </tbody>
</table>